.card {
    border: 1px solid black;
    
    padding:12px;
    border-width: 1px;
    border-radius: 16px;
    border-style: solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-link{
    padding-right: 10px;
}

.link-text {
    vertical-align: super;
    margin-left: 10px;
}